<header  style="margin: 10px 15px;">
  <h2><%= @nutrient.name %><%= link_to 'Edit', edit_nutrient_path(@nutrient), class: "btn btn-default pull-right", style:"height:33px;" %></h2>

  <p>
    <strong>Goal:</strong>
    <em><%= @nutrient.goal %></em>
  </p>
  <hr>
</header>
<%= month_calendar do |calendar_date| %>
	<%if @dates.include?(calendar_date) %>
    <%    puts '======================'
    puts @ratings.find_by_date(calendar_date)
    puts '======================' %>
    <%= link_to rating_path(@ratings.find_by_date(calendar_date)) do %>
      <% case @ratings.find_by_date(calendar_date).rating %>
        <% when 1 %>
          <div class="rating one">
        <% when 2 %>
          <div class="rating two">
        <% when 3 %>
          <div class="rating three">
        <% when 4 %>
          <div class="rating four">
        <% when 5 %>
          <div class="rating five"> 
      <% end %>  
        <%= calendar_date.strftime("%e") %>
      </div>
    <% end %>
	<% else %>
    <%= calendar_date.strftime("%e") %>
	  <% end %>
<% end %>
