<div style="margin: 20px 15px;">
		<div class="	pull-right	" style="border:3px solid grey; border-radius: 10px; text-align: 	center; width: 	60px;margin: 	10px;">	
		<p style="letter-spacing: 1px; background-color: grey; color: #EEE; font-size: .8em;border-radius: 6px 6px 0 0; margin: 0; padding: 3px 0">Rating</p>
		<p style="font-size: 1.7em;font-weight: bold;	color: grey; margin: 0 auto"><%= @rating.rating %></p>
	</div>
	<h2><%= @nutrients.find_by_id(@rating.nutrient_id).name %></h2>

	<p><em><%= Time.parse(@rating.date).strftime("%B %e %Y") %></em></p>
		<hr>
	<p><strong>Notes:</strong></p>
			<td><div class="well"><%= @rating.notes %></div></td>



	<hr>
	
	<div>	
	<%= link_to 'Back', nutrient_path(@rating.nutrient_id), class: "btn btn-default" %>

	<%= link_to @rating, method: :delete, data: { confirm: 'Are you sure?' } do %>
		<button class="destroy btn btn-danger pull-right">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</button>
	<% end %>
	<%= link_to 'Edit', edit_rating_path(@rating), class: "btn btn-default pull-right", style:"margin-right: 8px;" %>	 
	</div>
</div>
